@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:400,700');

$font-stack: 'Roboto Mono', monospace;
$font-stack-formal: 'Roboto', sans-serif;
$font-stack-mono: $font-stack;

$background: #222034;
$theme-col: #222034;
/* Green */
$accent-1: #66bb66;
/* Red */
$accent-2: #ac3232;

/* Misc */
$donor-color: #bbbb33;
$admin-color: #bb6666;

$foreground: #ffffff;
$rounding: 7px;
