version: "3.8"


x-django-instance: &django-instance
    build: .
    volumes:
      - .:/app
    environment:
      - DOMAIN=localhost
      - FRONTEND_URL=http://localhost:8000/
      - SECRET_KEY=CorrectHorseBatteryStaple
      - DJANGO_SETTINGS_MODULE=backend.settings.local
      - ANDROMEDA_IP=andromeda
      - ANDROMEDA_URL=http://andromeda:6000
      - REDIS_PORT=6379
      - REDIS_HOST=redis
      - REDIS_CONFIG_DB=3
      - REDIS_CACHE_DB=10
      - SQL_PORT=5432
      - SQL_HOST=database
      - SQL_USER=postgres
      - SQL_DATABASE=postgres
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_started


services:

  redis:
    image: docker.io/redis:5

  database:
    image: docker.io/postgres:12-alpine
    environment:
      - POSTGRES_EXTENSIONS=citext
      - POSTGRES_HOST_AUTH_METHOD=trust
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 30s
      retries: 30
    stop_grace_period: 30s

  shell:
    image: index.docker.io/ractf/shell:latest
    ports:
      - "8000:8000"
    environment:
      - RACTF_API_BASE=/api/v2
      - RACTF_USE_HEAD_NAV=true
      - RACTF_SITE_NAME=RACTF Dev
      - RACTF_API_DOMAIN=http://localhost:8000
      - RACTF_WSS_URL=ws://localhost:8000/api/v2/ws/
    depends_on:
      - backend
      - sockets
    command:
      caddy run --config /etc/caddy/Caddyfile.development --adapter caddyfile

  backend:
    <<: *django-instance
    entrypoint: /app/entrypoints/backend.sh
    command: gunicorn --reload -w 12 -b 0.0.0.0:8000 -k uvicorn.workers.UvicornWorker backend.asgi:application

  sockets:
    <<: *django-instance
    entrypoint: /app/entrypoints/sockets.sh
    command: gunicorn --reload -w 12 -b 0.0.0.0:8000 -k uvicorn.workers.UvicornWorker backend.asgi:application

  watchtower:
    image: docker.io/containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    command: --interval 5
