{% extends "bases/base.html" %}
{% import "bases/macros.html" as m %}

{% block body %}
    {% call m.center() %}
    	A password reset has been requested for your account.<br>
	If this was you, click the link below to continue with the password reset.<br>
	If this wasn't you, you can safely ignore this email.<br><br>
	This link is valid for 1 hour since the reset was requested.
    {% endcall %}
    {{ m.space(24) }}
    {% call m.center(24) -%}
        {{ m.button("RESET PASSWORD", url) }}
    {%- endcall %}
    {{ m.space(16) }}
    {% call m.center(16) -%}
        <i style="font-size:80%;">
            Button not working? Navigate to <a style="color:#e53935;text-decoration:none;" href="{{ url }}">{{ url }}</a> in a browser.
        </i>
    {%- endcall %}
{% endblock %}
