{% extends "bases/base.html" %}
{% load template_extras %}

{% block body %}
    {% filter center %}
    	A password reset has been requested for your account.<br>
	If this was you, click the link below to continue with the password reset.<br>
	If this wasn't you, you can safely ignore this email.<br><br>
	This link is valid for 1 hour since the reset was requested.
    {% endfilter %}
    {% include "components/space.html" with heights=24 %}
    {% filter center:24 %}
        {% include "components/button.html" with text="RESET PASSWORD" url=url %}
    {% endfilter %}
    {% include "components/space.html" with height=16 %}
    {% filter center:16 %}
        <i style="font-size:80%;">
            Button not working? Navigate to <a style="color:#e53935;text-decoration:none;" href="{{ url }}">{{ url }}</a> in a browser.
        </i>
    {% endfilter %}
{% endblock %}
