{% extends "bases/base.html" %}
{% load template_extras %}

{% block body %}
    {% filter center %}
        Thank you for signing up to {{ event_name }}.<br>
        Before you can start capturing flags, you need to verify your account!
    {% endfilter %}
    {% include "components/space.html" with heights=24 %}
    {% filter center:24 %}
    {% include "components/button.html" with text="VERIFY MY ACCOUNT" url=url %}
    {% endfilter %}
    {% include "components/space.html" with height=16 %}
    {% filter center:16 %}
        <i style="font-size:80%;">
            Button not working? Navigate to <a style="color:#e53935;text-decoration:none;" href="{{ url }}">{{ url }}</a> in a browser.
        </i>
    {% endfilter %}
{% endblock %}
