{% extends "bases/base.html" %}
{% import "bases/macros.html" as m %}

{% block body %}
    {% call m.center() %}
        Thank you for signing up to RACTF.<br>
        Before you can login, you need to verify your account!
    {% endcall %}
    {{ m.space(24) }}
    {% call m.center(24) -%}
        {{ m.button("VERIFY MY ACCOUNT", url) }}
    {%- endcall %}
    {{ m.space(16) }}
    {% call m.center(16) -%}
        <i style="font-size:80%;">
            Button not working? Navigate to <a style="color:#e53935;text-decoration:none;" href="{{ url }}">{{ url }}</a> in a browser.
        </i>
    {%- endcall %}
{% endblock %}
