{% extends "partials/base.html" %}

{% block title %}Edit - {{ category_name }}{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">{{ category_name }}</div>
    <div class="title-sub">Here are the challenges for {{ category_name }}</div>

    {% for challenge in challenges %}
    <a href="/admin/challenge_editor/{{ category }}/{{challenge.challenge}}">
        <div class="level-chal">
            {{ challenge.title }} ({{ challenge.challenge }})
        </div>
    </a>
    {% endfor %}

    <div class="hr"></div>
    <a href="/admin/challenge_editor/">
        <button class="button">Back</button>
    </a>
</div>
{% endblock %}
