{% extends "formal/formal_base.html" %}

{% block title %}Support - {% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">{{ user.display_name }}'s Tickets</div>
    <a href="/support/">Back</a>

    <div class="ticket-list">
        {% if tickets == [] %}
            <div class="title-sub">
                You don't have any tickets open!<br/>Would you like to <a href="/support/tickets/new">create one</a>?
            </div>
        {% endif %}

        {% for ticket in tickets %}
            <a href="/support/tickets/{{ ticket.ticket_id }}">
                <div class="ticket">
                    {{ ticket.ticket_title }}{% if ticket.ticket_status != "Open" %} (Closed){% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% block bottom %}{% endblock %}
{% endblock %}
