{% extends "formal/formal_base.html" %}

{% block title %}About - {% endblock %}

{% block donate %}{% endblock %}

{% block content %}
    <h1>Welcome to Really Awesome CTF</h1>
    <i>On this page, you can find out about the competition.</i>

    <ul>
        <li>The challenges are split up into categories. You may complete them in any order.</li>
        <li>Hints are avaliable for all challenges, but using them will irrevocably half your points.</li>
        <li>Using a hint after you've completed a challenge will not affect your points.</li>
        <li>Expect challenge point values to change during the course of the competition - we will be looking at solve counts and adjusting points as necessary.</li>
        <li>Should we adjust a challenge's point value, a site-wide alert will be given out. Your point total will change even if you have already completed the challenge.</li>
        <li>Challenges may be added during the course of the CTF. Should this happen, a site-wide alert will be given out.</li>
        <li>If a challenge seems to be broken, try again in a minute. If it still doesn't appear to be working, DM a staff member on Discord.</li>
    </ul>
{% endblock %}
