* {
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    background: $background;
    overflow: hidden;
    color: $foreground;
    overflow-y: auto;
    position: relative;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100%;
    width: 100%;
}
html {
    background-color: transparent;
}

#music {
    position: fixed;
    z-index: -10;
    opacity: 0;
}

#progress {
    transition: width 100ms;
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $accent-1;
}

.particles-js-canvas-el {
    margin: -8px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.leftcentre_div {
    position: absolute;
    top: 50%;
    float: left;
    transform: translate(10%, -50%);
    text-align: center;
}

.normal_div {
    position: absolute;
    float: left;
    text-align: left;
}

.rightcentre_div {
    position: absolute;
    top: 25%;
    float: right;
    transform: translate(225%, 10%);
    text-align: center;
}

.centre_div {
    color: $foreground;
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.bottom_div {
    position: fixed;
    bottom: 0;
    left: 0;
    float: left;
    width: 100%;
    font-size: .9rem;
    padding: 8px 16px;
    background-color: rgba(darken($theme-col, 5%), 0.7);
}

.bottom-pad {
    height: 37px;
    flex-shrink: 0;
}

.title {
    font-size: 3rem;
}

.subtitle {
    font-size: 2rem;
}

.title-sub {
    margin-bottom: 2rem;
}

#donate-b {
    cursor: pointer;
    position: fixed;
    left: 16px;
    bottom: 48px;
    border-radius: $rounding;
    background-color: rgba(darken($theme-col, 5%), 0.3);
    padding: 8px 16px;
    color: $foreground;
    box-shadow: 0 0 15px -3px $accent-2;
    transition: 100ms box-shadow ease-in;

    &:hover {
        box-shadow: 0 0 15px -5px $accent-2;
    }
}

#dp-wrap {
    display: none;
}

#dp-dark {
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#load-body {
    width: 100vw;
}

#donate_popup {
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 32px;
    border-radius: 2px;
    box-shadow: 0 0 10px #000;
    z-index: 501;

    #do-donate {
        cursor: pointer;
    }

    #dp-form {
        display: none;
    }

    .dp-title {
        font-size: 2em;
    }

    .perk {
        display: flex;

        .dp-image {
            flex-shrink: 0;
            margin: auto;
            margin-right: 16px;
            width: 24px;
            height: 24px;
        }

        .dp-text {
            flex-grow: 1;
            font-size: 1.2em;
            margin: 8px 0;

            .bax {
                color: gold;
            }
        }
    }

    .dp-bot {
        margin-top: 16px;
        font-size: .9em;
        font-style: italic;
    }

    a {
        display: block;
        font-size: 1.5em;
        margin-top: 16px;
        font-weight: 600;
        color: #fff;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}