.home-wrap {
    display: flex;
    flex-grow: 1;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}

.home-pane {
    text-align: center;
}

.home-btn {
    padding: .6rem 2rem;
}

.btn-less {
    background: none;
}

#news {
    margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
    body {
        padding: 32px 0;
    }

    .title {
        font-size: 2.5em;
    }

    #donate_popup {
        width: 100%;
        position: absolute;
    }

    * {
        word-break: break-word;
    }

    .home-wrap {
        flex-direction: column;

        >* {
            margin: 32px 16px;
        }
    }

    #bottom {
        font-size: .5em;
    }

    .p-left {
        flex-direction: row;

        .p-img {
            width: 126px;
            height: 126px;
            flex-shrink: 0;

            img {
                width: 128px;
                height: 128px;
            }
        }

        .p-nimg {
            padding-left: 32px;
            flex-grow: 1;
        }
    }

    .p-right {
        padding: 8px;
    }

    #profile-container {
        flex-direction: column;

        .pr-chal, .pr-item {
            width: auto;
        }
    }
}
