{% extends "partials/base.html" %}

{% block title %}Container Logs{% endblock %}

{% block content %}
<div class="centre_div cd-grow" id="content">
    <div class="title">Logs for {{ tag }} ({{ name }})</div>
    <div class="subtitle"><span id="memory">0M</span> | <span id="cpu">0.00</span>%</div>

    <a href="/docker/stop/{{ name }}">
        <button class="button">Stop Container</button>
    </a>

    <div id="log" class="logs"></div>

    <a href="/docker/">
        <button class="button">Back</button>
    </a>
</div>
{% endblock %}
{% block scripts %}
    <script>
        function ajaxOnDocumentLoad() {
            let socket = io.connect('/docker', {
                transports: ['websocket', 'polling'], rememberTransport: false, port: location.port});

            function update() {
                socket.emit("request_container_usage", {
                    'token': getCookie("token"),
                    'container': '{{ name }}',
                    'recieved_log_lines': $("#log").text().split("\n").length
                });
            }
            update();
            setInterval(update, 5000);

            socket.on("response_container_usage", function(response_data) {
                $("#memory").text(response_data.memory_usage);
                $("#cpu").text(parseInt(response_data.cpu_usage).toFixed(2));
                if (response_data.extra_log.length)
                    $('#log').text($('#log').text() + response_data.extra_log);
            });
        }
    </script>
{% endblock %}
