{% extends "partials/base.html" %}

{% block title %}Levels{% endblock %}

{% block warning %}{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">Welcome, {{ name }}</div>
    <div class="title-sub">This is your mission hub</div>

    {% for category in categories %}
        <a href="/category/{{ category }}"><div class="level-chal">
            {{ categories[category] }}
        </div></a>
    {% endfor %}

    <div class="hr"></div>
    <a href="/home">
        <button class="button">Back</button>
    </a>
    <div style="display:none"><input type="text" value="cdctf{d4wn_0f_h1dd3n_chall3ng35}" id="hid-fb" hidden></input><button class="button" id="hid-df"></button></div>
</div>
{% include "partials/bottom.html" %}
{% endblock %}
