{% extends "partials/base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">Leaderboard</div>

    <div id="lb-plot"></div>

    <div id="leader-body">
    {% for user in leaderboard %}
        {# If this is changed, js/alerts.js also needs updated. #}
        <a href="/user/{{ user.display_name }}">
            <div class="lb-item">
                <div class="lbi-title{% if user.isbanned %} lbi-title-banned{% endif %}">{{ user.display_name }}</div>
                <div class="lbi-points">
                    <div class="lbi-points-t">
                        {{ lb_model.points_for(user) }} points
                    </div>
                    {% if user.first_bloods != 0 or user.easter_egg_count != 0 or user.extreme_count != 0 or user.isbeta or user.isdonor %}
                        <div class="lbi-points-b">
                            {% if user.isbeta %}<img class="beta" src='/static/img/beta.png'>{% endif %}
                            {% if user.isdonor %}<img class="donor" src='/static/img/donor_small.png'>{% endif %}
                            {% if user.isadmin %}<img class="admin" src='/static/img/admin.png'>{% endif %}
                            {% for i in range(user.easter_egg_count) %}
                                <img class="egg" src='/static/img/egg.png'>
                            {% endfor %}
                            {% for i in range(user.extreme_count) %}
                                <img class="egg" src='/static/img/skull.png'>
                            {% endfor %}
                            {% for i in range(user.first_bloods) %}
                                <img src='/static/img/firstsolve.png'>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
    </div>

    <div class="hr"></div>
    <a href="/home">
        <button class="button">Back</button>
    </a>
</div>
{% include "partials/bottom.html" %}
{% endblock %}

{% block scripts %}
<script>
function ajaxOnDocumentLoad() {
    setTimeout(function() {
        $.get("/api/pointsGraph", function (data) {
            console.log(data);

            let parent = $("#lb-plot");
            Plotly.react("lb-plot", data, {
                "plot_bgcolor": parent.css("background-color"),
                "paper_bgcolor": parent.css("background-color"),
                font: {
                    family: parent.css("font-family"),
                    color: parent.css("color")
                }
            });
        });
    }, 0);
}
</script>

{% endblock %}
