{% extends "partials/base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="centre_div" id="content">
        <div class="title">Thanks for joining us!</div>
        <div class="title-sub">Just a few questions to give you the best experience on the site.<br/>
        <i><a href="/hub">No thanks, Take me to the challenges!</a> </i></div>

        <h3>Would you like to enable background music on the site?</h3>
        <div id="bgm-sb" class="switch-button">
            <button data-val="yes">Yes</button>
            <button data-val="no" class="active">No</button>
        </div>

        <h3>Would you like to enable visual effects on the site?</h3>
        <div id="vfx-sb" class="switch-button">
            <button data-val="yes" class="active">Yes</button>
            <button data-val="no">No</button>
        </div>

        <h3>Confirm your site username:</h3>
        <input id="dn" type="text" value="{{ user['display_name'] }}"/>
        <div id="nameresult">Failed to change name</div>

        <button id="final" class="large">Let's go!</button>
    </div>
{% endblock %}

{% block scripts %}
<script>
function ajaxOnDocumentLoad() {
    $("#final").click(function() {
        let bgm = sbOption($("#bgm-sb"));
        let vfx = sbOption($("#vfx-sb"));
        let originalName = {{ user['display_name']|tojson }};
        let name = $("#dn").val();

        setCookieSeconds("vfx", vfx, 1e5);
        setCookieSeconds("audio", bgm, 1e5);

        function leave() {
            // If VFX was changed we're going to need to force
            // reload the page instead of using a nice ajax nav.
            if (vfx === "no")
                location.href = "/home"
            else performNav("/home")
        }

        if (name !== originalName) {
            $.post("/api/changeName", {
                name: name
            }, function(data, status) {
                if (!data.s)
                    $("#nameresult").text(data.m).animate({opacity: 1}, 200)
                                    .delay(2000).animate({opacity: 0}, 500);
                else leave();
            });
        } else leave();
    });
}
</script>
{% endblock %}

{% block donate %}{% endblock %}
