{% extends "partials/base.html" %}

{% block title %}Alerts{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">Manage Alerts</div>

    <label for="alerttitle">Send alert:</label>
    <input type="text" id="alerttitle"/>
    <textarea id="alertbody"></textarea>
    <button class="button" id="add">Send alert</button>
    <div id="resulttext" style="display:none"></div>

    <div class="hr"></div>

    <label for="remalerttitle">Remove alert:</label>
    <input type="text" id="remalerttitle"/>
    <button class="button" id="rem">Remove alert</button>
    <div id="resulttext2" style="display:none"></div>

    <div class="hr"></div>
    <a href="/admin/">
        <button class="button">Exit</button>
    </a>
</div>
{% endblock %}

{% block donate %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function ajaxOnDocumentLoad() {
        $("#add").click(function() {
            let atitle = $("#alerttitle").val();
            let abody = $("#alertbody").val();
            if (atitle.length && abody.length)
                $.post("/api/admin/alerts/add", {body: abody, title: atitle}, function (data) {
                    $('#resulttext').text("Added alert").fadeIn().delay(2000).fadeOut();
                });
        });
        $("#rem").click(function() {
            let atitle = $("#remalerttitle").val();
            if (atitle.length)
                $.post("/api/admin/alerts/remove", {title: atitle}, function (data) {
                    $("#resulttext2").text("Removed alert").fadeIn().delay(2000).fadeOut();
                });
        });
    }
</script>
{% endblock %}
