[run]
source = .
branch = True
omit =
    */venv/*
    backend/asgi.py
    backend/wsgi.py
    backend/exception_handler.py
    manage.py
    sockets/routing.py
    backend/settings/*
    backend/storages.py
    */urls.py
    ractf/management/*
    gunicorn_config.py
    */migrations/*.py

[report]
fail_under = 80
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    pass
