name: Build Docker Container

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Get branch name
      shell: bash
      run: echo "##[set-output name=name;]`[ ${GITHUB_REF#refs/heads/} = "master" ] && echo 'latest' || echo ${GITHUB_REF#refs/heads/}`"
      id: branch

    - name: Cache docker layers
      uses: satackey/action-docker-layer-caching@v0.0.4
      with:
        key: docker-layer-caching-${{ github.workflow }}-${{ github.event_name }}-{hash}
        restore-keys: docker-layer-caching-${{ github.workflow }}-${{ github.event_name }}-

    - name: Build challenge
      run: docker build -t ractf/core:${{ steps.branch.outputs.name }} -t docker.pkg.github.com/ractf/core/core:${{ steps.branch.outputs.name }} .

    - name: Login to Docker Hub
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop'
      run: docker login --username ractf --password ${{ secrets.password }}

    - name: Login to Github packages
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop'
      run: docker login docker.pkg.github.com -u $GITHUB_ACTOR -p ${{ secrets.GITHUB_TOKEN }}

    - name: Push to Github packages
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop'
      run: docker push docker.pkg.github.com/ractf/core/core:${{ steps.branch.outputs.name }}

    - name: Push to Docker Hub
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop'
      run: docker push ractf/core:${{ steps.branch.outputs.name }}